extends _layout
	
block content
	.top
		.limiter
			header
				.grid
					.col-6
						aside 
							a.logo(href="#") Менеджер

					.col-18
						section 123

	.middle
		.limiter
			.grid
				.col-6
					aside 323

				.col-18
					main 222


	.bottom
		.limiter
			footer
				.grid
					.col-6
						aside 123

					.col-18
						section 123