extends _layout
	
block content
	.limiter
		.app
			aside
				header
					a.logo(href="#") Менеджер

				section
					nav.nav-main
						a(href="#")
							i.fa.fa-share
							|Счета
						a(href="#")
							i.fa.fa-reply
							|Счета-фактуры
						a.active(href="#")
							i.fa.fa-th-list
							|Накладные
						a(href="#")
							i.fa.fa-check
							|Акты
						a(href="#")
							i.fa.fa-suitcase
							|Договоры
						a(href="#")
							i.fa.fa-folder-open
							|Номенклатура
						a(href="#")
							i.fa.fa-users
							|Контрагенты
						a(href="#")
							i.fa.fa-rub
							|Финансы
						a(href="#")
							i.fa.fa-envelope
							|Уведомления
							span.new 3

					.notifications
						a.item(href="#")
							.body Вам пришло личное сообщение от ООО &laquo;Гармония&raquo;
							.date Сегодня, в 14:33

						a.item(href="#")
							.body Добавлен новый товар в нометклатуру
							.date Сегодня, в 8:12
							
						a.item(href="#")
							.body Удалена категория нометклатуры
							.date Сегодня, в 7:41

				footer
					a(href="#") Инструкция
					|&nbsp;
					a(href="#") Поддержка

					div Менеджер &copy; 2015

			main
				header
					form.search.divider-right
						i.fa.fa-search
						input.custom(type="text", placeholder="Поиск")

					a.btn-wide.company.divider-right(title="Настройка", href="#")
						i.fa.fa-building
						|ООО &laquo;Информационные системы 2000&raquo;

					.selector.user.divider-right
						i.arrow.fa.fa-angle-down
						.title
							i.fa.fa-user
							| rshashkov
						.drop
							.drop-inner
								ul
									li Биллинг
									li Личные настройки
									li Команда
									li Отправить приглашение
									li Сменить пароль

					.btn-group
						a.btn.divider-right(title="Настройка", href="#")
							i.fa.fa-cog

						a#exit.btn(title="Выход", href="#")
							i.fa.fa-power-off

				section Section
				footer |Footer is here