body
	background: #354d62

a
	touch-action: manipulation

.app
	background-color: #ECF0F1
	position: relative
	z-index: 2
	+clearfix

aside
	background-color: #485D70
	height: 100vh
	width: 22%
	float: left

	+breakpoint($bp-iphone)
		height: auto
		float: none
		width: 100%

	footer
		padding: 15px 20px
		border-top: 1px solid $aside-lines-color
		color: $dark-text + 40

		.grid
			[class^="col-"],
			[class*=" col-"]
				margin: 0

		+breakpoint($bp-iphone)
			display: none

main
	width: 78%
	float: left

	+breakpoint($bp-iphone)
		float: none
		width: 100%
	
	>section
		padding: $padding-component-vertical $padding-component-side