.nav-main
	font-weight: bold

	a
		display: block
		padding: 13px 20px
		line-height: 1em
		color: $dark-text !important
		transition: background-color .05s
		+unstyled-link

		&:hover
			background-color: rgba(255, 255, 255, .065)

		.new
			background: #E56364
			border-radius: 3px
			padding: 1px 4px 0px 3px
			color: #fff
			font-size: 11px
			margin-left: .5em
			font-weight: normal

		i
			color: $dark-text + 70
			margin-right: 16px
			width: 16px

		&.active
			color: #fff !important
			padding-left: 16px
			border-left: 4px solid $dark-color-lighten
			background-color: rgba(0, 0, 0, .1) !important

			i
				color: #fff